.card {
    width: 16rem;
    height: 60vh;
    text-align: center;
    background: rgba(81, 80, 80, 0.6); /* Use rgba() to set opacity for the background color */
    border-radius: 8px;
    z-index: 1;
    border-style: solid;
    border-color: rgb(55, 55, 55);
}

.card .Image {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    width: 99%;
    height: 20vh;
    border-radius: 8px;
    display: block;
    /* The image will not be affected by the card's opacity */
    z-index: 3;
}

.project-card {
 
    color: white;
    z-index: 3;
}
.card h1{
    text-transform: uppercase;
    font-size:2rem ;
    padding: 0.3em;
    color:white;
}
.card p{
    font-size: 1rem;
    margin: 0.2rem;}
.btn{
    width: 5rem;
    size: 2rem;
    font-size: 1rem;
    top:10px;
    color: black;
   
}
